

*{box-sizing: border-box}

.slider-input img{
	border-radius: 50px;
	max-width: 100%}

input[type=radio]{

position: absolute;
left: -9999px

}
	
.slider-input label{
	
cursor:pointer
	
}

.slider-input{

overflow: hidden;
position: relative;
top : 2rem;
max-width: 900px;
margin: 0 auto;
	
	}


.photos-mini{
	
	
padding-top: 60%;
display: flex;

	}

.miniature{

flex: 1; 
padding:.25rem;
	
}
	

.fenetre{

position: absolute;
top: 0;
left: 0;
transition:transform .6s,opacity .6s;
transform:translatex(-100%);
opacity: 0
	
	}

.fen:checked~ .fenetre{
	
transform:translatex(0%);
opacity: 1
	
	}

	



