*{

    margin: 0;
    padding: 0;

}

:root{

    --color1 : #c1a389;
    --color2 : #efd0bb;
    --color3 : #CCAD9A;
}

body{
    background-color: var(--color3);
    background-image: url('Background.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}


.page1, .page2, .page3{

    font-family: 'Inter', sans-serif;
    font-weight: 900;
    letter-spacing: 0.2em;
    font-size: 20px;
    min-height: 100vh;
}

/* bandeau */


nav{
    display: flex;
    height: 150px;
   
   

}
.logo{
    height: 100px;
    margin: 25px;
}

nav p{

    color: white;
    font-size: 4rem;
    margin: auto;
    text-transform: capitalize;
    font-family: 'Orbitron', sans-serif;
    
}


/*page 1*/

.phrase1{
    background-image: url('test.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.phrase1 p, .phrase2 p{

    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    position: relative;
    top: 350px;
    
}
.phrase2{
    background-image: url('foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    

}

.container-fluid{

    display: flex;
    justify-content: space-between;
    padding-top: 10vh;
}

.phrase1, .phrase2{
    height: 600px;
    width: 40%;
    margin: 25px;
    border-radius: 30px;
    padding: 50px;
    color: black;
    word-wrap: break-word;
}

/*page2*/

ul{
    
    list-style-position: inside;
}

p, li{
    margin: AUTO;
    text-align: center;
    width: 90%;
}

/*page 3*/

.contact {

    min-height: 100vh;
    padding-bottom: 80px;
    padding-top: 100px;
}

.imgteam{
    margin-top: 40px;
    height: 200px;
}

.contact2{

    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 60%;
}

.img{
    height: 100px;
    margin: 15px;
}

.img2{

    border-radius: 50px;
}

.team{

    display: flex;
    justify-content: space-evenly;

  
}



footer{
    margin-top: 100px;
    margin-bottom: -100px;
}

.teammember{
    width: 18rem;
    margin: auto;
}

.teammember p{
    margin-top: 15px;
}


/*titres page 3*/

.h1 {

    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: black;
  
}



h1, h1::before, h1::after {
    display:inline-block;
    vertical-align: middle;
  }
  h1::before {
    height:2px;
    width:580px;
    margin: 10px;
    background: linear-gradient(90deg, rgba(108,96,96,1) 0%, rgba(108,96,96,1) 25%, rgba(74,64,64,1) 50%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
    content:""

  }
  
  h1::after{
    height:2px;
    width:580px;
    margin: 5px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(74,64,64,1) 50%, rgba(108,96,96,1) 75%, rgba(108,96,96,1) 100%);
    content:""

  }

  h2, h2::before, h2::after {
    display:inline-block;
    vertical-align: middle;
  }
  h2::before {
    height:2px;
    width:450px;
    margin: 10px;
    background: linear-gradient(90deg, rgba(108,96,96,1) 0%, rgba(108,96,96,1) 25%, rgba(74,64,64,1) 50%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);
    content:""

  }
  
  h2::after{
    height:2px;
    width:450px;
    margin: 5px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(74,64,64,1) 50%, rgba(108,96,96,1) 75%, rgba(108,96,96,1) 100%);
    content:""

  }

  h1,h2{
    display: block;
    align-self: center;
    justify-self: center;
    text-shadow: 5px 5px 10px black;
}

.span{

    text-shadow: 1px 1px 1px black; 
    font-size: 25px;
}

